@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Pacifico&family=Rubik:ital,wght@0,600;0,700;1,600;1,700&display=swap');

:root {
    --primary-color: #D27722;
    --text-color: #252422;
    --text-color-secondary: #403D39;
    --primary-lighten: #FFDBB8;
    --secondary-background: #FFFDF4;
    --font-heading: Rubik, sans-serif;
    --background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    background: #ffffff;
    width: 100vw;
}

/* Common */

.color--white {
    color: var(--background-color);
}

.text-align {
    text-align: center;
}

.dpfl {
    display: flex;
    align-items: center;
}

.container {
    width: 1312px;
    max-width: calc(100% - 128px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Outfit";
    font-size: 1.8rem;
}

.btn {
    border-radius: 4px;
    background: var(--primary-color);
    padding: 8px 16px;
    line-height: var(--line-height, 2.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border: var(--primary-color);
    color: var(--background-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--text-color);
}

.heading.lv1 {
    font-size: 6.1rem;
    font-weight: 700;
    line-height: 6.8rem;
    letter-spacing: -2.44px;
}

.heading.lv2 {
    font-size: 5rem;
    line-height: 5.7rem;
    letter-spacing: -1px;
}

.heading.lv3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
}

.heading.lv4 {
    font-size: 2.4rem;
    line-height: 2.7rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.font {
    color: var(--text-color-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--line-height, 2.56rem);
}

.font.big {
    font-size: 1.8rem;
    line-height: 2.88rem;
}

.font.small {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--primary-lighten);
}

/* Header */

.header.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--background-color);
}

.header__inner {
    padding: 38px 0 25px;
}

.header__logo {
    margin-right: 32px;
}

.nav__list {
    position: relative;
    padding: 8px 12px;
    line-height: 2.3rem;
}

.nav__main {
    position: relative;
    display: flex;
    margin-left: 20px;
}

.nav__main::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    content: "";
    display: inline-block;
    width: 0px;
    height: 15px;
    border: 2px solid var(--primary-lighten);
    border-radius: 2px;
}

.nav__img {
    margin-right: 7px;
}

.hearder__action {
    margin-left: auto;
    position: relative;
}

.action__language:hover .action__subnav,
.action__currency:hover .action__subnav {
    display: block;
}

.action__subnav {
    width: 255px;
    padding: 16px;
    display: none;
    position: absolute;
    top: 48px;
    border-radius: 6px;
    border: 1px solid var(--primary-lighten);
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 8px 0px rgba(0, 0, 0, 0.10),
        0px 15px 15px 0px rgba(0, 0, 0, 0.09), 0px 33px 20px 0px rgba(0, 0, 0, 0.05),
        0px 59px 23px 0px rgba(0, 0, 0, 0.01), 0px 92px 26px 0px rgba(0, 0, 0, 0.00);
}

.action__subnav li {
    color: var(--text-color-secondary);
    font-weight: 500;
    line-height: 2rem;
    padding: 8px 12px;
    margin-top: 5px;
}

.action__select {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1;
}

.action__img {
    margin-left: 4px;
}

.action__currency {
    margin-left: 22px;
}

.action__info {
    position: relative;
    margin: 0 40px;
}

.action__info::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    content: "";
    display: inline-block;
    width: 0px;
    height: 15px;
    border: 2px solid var(--primary-lighten);
    border-radius: 2px;
}

.action__info::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    width: 0px;
    height: 15px;
    border: 2px solid var(--primary-lighten);
    border-radius: 2px;
}

.action__login__item.dpfl {
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    padding: 0px 7px 0px 18px;
    gap: 8px;
}

.action__login__img {
    margin-right: 18px;
}

/* Hero */

.hero {
    padding-top: 71px;
    height: 772px;
    position: relative;
}

.hero__info {
    width: 53.5%;
}

.hero__info__desc {
    width: 533px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero__title--strong {
    font-family: "Pacifico";
    color: var(--primary-color);

}

.hero__watch-video {
    margin-bottom: 24px;
}

.watch-video__img {
    margin-right: 11px;
}

.hero__action__find {
    margin-right: 20px;
}

.hero__action__join {
    color: var(--primary-color);
    background: var(--background-color);
    border: solid 2px var(--primary-color);
}

.hero__img {
    z-index: -1;
    margin-left: 18px;
    width: 518px;
    height: 407px;
    border-radius: 32px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
}

/* Landing stats */
.hero__landing-stats.dpfl {
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    transform: translateY(50%);
    right: calc((100vw - 1312px) / 2 + 92px);
    width: 1085px;
    padding: 12px 23px;
    border-radius: 16px;
    border: solid 1px var(--primary-lighten);
    background: var(--secondary-background);
}

.landing__item {
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.landing__stats {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.7rem;
    letter-spacing: -0.8px;
}

.landing__desc {
    line-height: 2.4rem;
}

.landing--rating__img {
    margin-left: 10px;
}

/* Explore & learn  */

.explore-learn {
    margin-top: 87px;
    padding: 104px 0 48px 0;
}

.el.dpfl {
    justify-content: space-between;
}

.el__title__img {
    margin-right: 20px;
}

.el__search__img {
    margin-right: 10px;
}

.el__desc {
    width: 552px;
    margin-top: 7px;
    margin-left: 69px;
}

/* list-category */

.list__el {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 68px;
}

.el__item.dpfl {
    padding: 24px 34px;
    border-radius: 16px;
    border: 1px solid var(--primary-lighten);
    background: var(--background-color);
    width: calc(33.33% - 28px);
}

.el__item__img {
    margin-right: 28px;
}

.el__content__title.dpfl {
    justify-content: space-between;
}

/* list-category__show */
.el__show {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 32px;
}

.el__show__img {
    margin-left: 13px;
}

/* benefits */

.benefits {
    padding: 104px 0 100px 0;
}

.benefits__title__heading {
    position: relative;
}

.benefits__title__heading__img {
    position: absolute;
    top: -10px;
}

.benefits__title__desc {
    margin-top: 15px;
}

.benefits__list.dpfl {
    margin-top: 79px;
    justify-content: space-around;
}

.benefits__item {
    width: 360px;
    margin-right: 116px;
    position: relative;
}

.benefits__item__heading {
    margin: 27px 0;
}

.benefits__item:last-child {
    margin-right: 0;
}

.benefits__item__img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 25px;
    border-radius: 111px;
    background: var(--primary-color);
}

.benefits__item:nth-child(2)::before,
.benefits__item:last-child::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -58px;
    width: 0px;
    height: 42px;
    border: 2px solid var(--primary-lighten);
    border-radius: 2px;
}

/* other-advantages */

.advan.dpfl {
    justify-content: space-between;
    margin-top: 255px;
}

.advan__level {
    position: relative;
}

.advan__level__img {
    width: 535px;
    height: 420px;
    border-radius: 32px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.advan__level__content {
    position: absolute;
    top: 278px;
    transform: c;
    left: -84px;
    width: 284px;
    padding: 24px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    background: var(--primary-color);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.04), 0px 20px 12px 0px rgba(0, 0, 0, 0.03), 0px 35px 14px 0px rgba(0, 0, 0, 0.01), 0px 55px 15px 0px rgba(0, 0, 0, 0.00);
}

.advan__level__content_title {
    color: #FFF;
    text-align: right;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.advan__level__content_img {
    margin-left: 4px;
}

.advan__level__content_desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.24rem;
    color: var(--background-color);
    margin-top: 16px;
}

.advan__list {
    width: 50%;
}

.advan__list__heading {
    font-size: 3.1rem;
}

.advan__list__inner {
    margin-top: 29px;
}

.advan__list__item {
    display: flex;
    width: 646px;
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid var(--primary-lighten);
    background: #fff;
}

.advan__list__item+.advan__list__item {
    margin-top: 24px;
}

.advan__list__item__img {
    margin-right: 16px;
}

.advan__list__item__desc {
    margin-top: 10px;
}

/* Thiếu hover do chưa đổi màu được svg */

/* How It Works */

.works {
    margin-top: 104px;
}

.works__title.dpfl {
    justify-content: space-between;
}

.works__title__img {
    margin-right: 20px;
}

.words__search__img {
    margin-right: 10px;
}

.works__desc {
    margin-left: 100px;
}

/* works step */

.works__steps__list {
    margin-top: 118px;
}

.works__step__item+.works__step__item {
    margin-top: 138px;
}

.works__step__num {
    width: 45%;
    height: 380px;
    margin-right: 131px;
    position: relative;
}

.step__num.dpfl {
    justify-content: center;
    width: 105px;
    height: 105px;
    padding: 10px;
    border-radius: 16px;
    background: var(--primary-color);
    color: var(--background-color);
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 8.5rem;
}

.works__step__num__img {
    border-radius: 32px;
}

.works__step__num__img:first-child {
    width: 567px;
}

.works__step__num__img:last-child {
    width: 567px;
    height: 330px;
}

.works__step__num__img:nth-child(2) {
    width: 567px;
    height: 335px;
    box-shadow: 0px 0px 0px 0px rgba(210, 118, 35, 0.05), 0px 5px 11px 0px rgba(210, 118, 35, 0.05), 0px 21px 21px 0px rgba(210, 118, 35, 0.04), 0px 47px 28px 0px rgba(210, 118, 35, 0.03), 0px 83px 33px 0px rgba(210, 118, 35, 0.01), 0px 130px 36px 0px rgba(210, 118, 35, 0.00);
}

.works__step__num__img:first-child,
.works__step__num__img:last-child {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: -1;
}

.works__step__num--2 {
    position: relative;
    z-index: -1;
}

.step__num--2 {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.works__step__content {
    width: 50%;
}

.works__step__content__heading {
    color: var(--text-color);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.3rem;
}

.works__step__content__desc {
    margin: 29px 0;
}

.works__step__content__btn {
    width: 169px;
    font-size: 2rem;
    font-weight: 500;
}

/* Money */
.works__money.dpfl {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 523px;
    border-radius: 16px;
    border: 1px solid var(--primary-lighten);
    margin: 0 auto;
    background: var(--secondary-background);
    transform: translateY(50%);
    position: relative;
}


.works__money__img--1 {
    position: absolute;
    justify-self: center;
    width: 100px;
    height: 100px;
    padding: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    transform: translate(-50%, -50%);
}

.works__money__img--2 {
    position: absolute;
    top: -60px;
    left: 286px;
}

.works__money__content {
    margin-top: 53px;
    padding: 32px 25px 39px 25px;
}

.works__money__title {
    margin-bottom: 20px;

}

/* become a chef */
.become-chef.dpfl {
    margin-top: 286px;
    justify-content: space-around;
}

.chef__content {
    width: 50%;
    margin-right: 111px;
}

.chef__list {
    padding: 16px 0px;
    margin-top: 15px;
}

.chef__item,
.student__item {
    display: flex;
    align-items: flex-start;
}

.chef__item+.chef__item,
.student__item+.student__item {
    margin-top: 8px;
}

.student__item__img,
.chef__item__img {
    margin-right: 8px;
}

.chef__item__desc_strong {
    font-weight: 700;
}

.be__chef {
    margin-bottom: 15px;
    width: 150px;
}

.learn-how__img {
    margin-right: 13px;
}

.become-chef__img {
    border-radius: 32px;
    object-fit: cover;
    width: 551px;
    height: 426px;
}

/* Become A Student */

.become-student.dpfl {
    margin-top: 142px;
    justify-content: space-around;
    background-color: var(--primary-color);
    border-radius: 26px;
}

.become-student__img {
    width: 43%;
    border-radius: 24px 0px 0px 24px;
    width: 564px;
    height: 647px;
    object-fit: cover;
    margin-right: 104px;
}

.student__content {
    margin-right: 86px;
}

.become__chef__stu__heading {
    margin-bottom: 15px;
}

.student__list {
    padding: 16px 0px;
    margin-top: 15px;
}

.be__student__btn {
    margin-top: 15px;
    width: 100px;
    border: 2px var(--background-color) solid;
}

/* classes */
.classes-blog {
    margin-top: 158px;
    display: flex;
    justify-content: space-between;
}

.classes,
.blog {
    display: flex;
    flex-direction: column;
}

.cl_bl_heading {
    margin-bottom: 47px;
}


.cl__find__heading {
    margin-bottom: 26px;
}


.cl__find {
    transform: translateX(48px);
    width: 486px;
}

.cl__find__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cl__find__item {
    margin-right: 16px;
    margin-bottom: 16px;
}

.cl__find__country {
    margin-top: 75px;
}

.cl__find__item__link {
    color: var(--primary-color);
    font-family: "Kanit";
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 4px 24px;
    border-radius: 58px;
    border: 1px solid var(--primary-lighten, #FFDBB8);
    background: #FFFDF4
}

.cl__find__list__country {
    width: 350px;
}

/* Blog */
.blog {
    width: 631px;
    position: relative;
}

.blog::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -74px;
    content: "";
    display: inline-block;
    width: 0px;
    height: 160px;
    border: 1px solid var(--primary-lighten);
    border-radius: 1px;
}

.blog__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 23px;
}

.blog__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 calc(50% - 12px);
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    max-height: 340px;
}

.blog__item__img {
    width: 100%;
    max-height: 213px;
    object-fit: cover;
}

.blog__item__about {
    display: flex;
    padding: 20px 25px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.blog__item__about__datetime {
    margin-bottom: 10px;
}

.blog__item__about__date {
    margin-left: 6px;
}

/* Footer */
.footer {
    height: 419px;
    flex-shrink: 0;
    border-radius: 24px 24px 0px 0px;
    background: var(--primary-color);
    margin-top: 137px;
    position: relative;
}

.footer__inner {
    display: grid;
    padding: 54px 102.5px 0 91.5px;
    grid-template-columns: 301px 144px 149px 219px 135px;
    grid-template-rows: 149px 103px;
    grid-row-gap: 68px;
    grid-column-gap: 45px;
}

.footer__item__logo_img {
    align-self: center;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__item a,
.footer__desc {
    color: var(--primary-lighten);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer__item a+a {
    margin-top: 8px;
}

.footer__item a:first-child {
    color: var(--background-color);
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.footer__line {
    position: absolute;
    width: 1235.5px;
    border: 2px solid var(--primary-lighten);
    opacity: 0.2;
    top: 246px;
    left: 31px;
}

.footer__desc {
    position: absolute;
    right: 43px;
    bottom: 27px;
}